<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apknewinsurance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APKNewInsurance">
        <activity android:name=".FormPlan100"></activity>
        <activity android:name=".AsuransiTradisional" />
        <activity android:name=".MainActivity" />
        <activity android:name=".InputTransfer" />
        <activity android:name=".Support" />
        <activity android:name=".Payment" />
        <activity android:name=".Passcode" />
        <activity android:name=".RegisterMenu" />
        <activity android:name=".LoginMenu" />
        <activity android:name=".MainActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>